.features-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  background-color: #f9f9f9;
  align-items: center;
}

.feature-item {
  display: flex;
  align-items: center;
}

.feature-icon {
  font-size: 1.8rem;
  color: #888;
  margin-right: 10px;
}

.feature-text-content {
  display: flex;
  flex-direction: column;
}

.feature-item h3 {
  font-size: 0.95rem;
  color: #555;
  margin: 0 0 3px 0;
}

.feature-item p {
  font-size: 0.8rem;
  color: #777;
  margin: 0;
}
